@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
    url('~assets/fonts/Nunito-400-cyrillic-ext1.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins';
  src: url('../../fonts/Poppins-Light.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../../fonts/Poppins-Light.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../../fonts/Poppins-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../../fonts/Poppins-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../../fonts/Poppins-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'poppins';
  src: url('../../fonts/Poppins-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('../../fonts/Raleway/static/Raleway-Medium.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../../fonts/Roboto/Roboto-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../../fonts/Poppins-Bold.ttf');
  font-style: normal;
}